.write-container{
    display: flex;
    justify-content: space-around;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid gray;

}

.post-content{
    border:  1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-info{
    text-align: center;
}